.compactCard{
    display: flex;
    flex: 1;
    height: 7rem!important;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
    /* font-weight: bold; */
    padding:1rem;

}

.compactCard:hover{
    box-shadow: none !important;
}

.radialBar{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end ;
    gap: .7rem;

}

.CircularProgressbar{
    width: 4rem !important;
    overflow: visible;
}
/**glowing effect*/
.CircularProgressbar-path{
    stroke: white!important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
    
}

.CircularProgressbar-trail{
    display: none;
}
/**text inside white-circle*/
.CircularProgressbar-text{
    fill: whitesmoke!important;
}

.radialBar>span{
    font-size: 17px;
    font-weight: bold;
}
.detail{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}

.detail>span:nth-child(3){
    font-size: 12px;
    font-weight: bold;
}
.detail span{
    font-weight: bold;
}